	@font-face{
		font-family: 'open_sans';
		src:url('../font/OpenSans-Light.ttf');
	}

	@font-face{
		font-family: 'open_sans_bold';
		src:url('../font/OpenSans-Bold.ttf');
	}

	.resize{
	   width: 57px;
	   height: auto;	
	}
	.nav_style{
		background: rgb(0, 0, 0) transparent;
		margin-bottom:0px important!;
	}

	ul.nav > li{
		font-family: open_sans
	}

	.slider_style{
		display: inline-block;
	    width: 100%;
	    height: 501px;
	    background-image:url('../content/employee2.jpg');
	    background-position: 3px 10px;
	    background-repeat: no-repeat;
	}

	.logo{

	    display: inline-block;
	    margin-top: 26px;
	    margin-left: 42px;
	}

	.text_message_PMI{
		text-align:center;
	}

	.button_more_information{
		text-align: center;
	    font-family: open_sans;
	    display: block;
	    width: auto;
	    height: 21px;
	    background: #2980b9;
	    padding: 6px;
	    color: #fff;
	    border-radius: 3px;
	    cursor: pointer;
	    box-sizing: content-box;
	    padding-top: 10px;
	}

	.margin_row{
		margin-top: 20px;
		margin-bottom: 15px;
	}
	
	/*seccion de Informacion*/
	.background_information{
		background-color: #ededed;
	}
	.header_information{
		color: #828282;
		font-family: open_sans;
	}

	.news_information{
		    width: 600px;
    		height: 258px;
	}
	.description_news_information{
		margin-top: 8px;
	    font-family: Open_sans;
	    color: #202020;
	}

	.description_news_information_hover{
		position: relative; 
		background-color: #f8434a;
		opacity: 0;
		width: 600px;
    	height: 258px;
	}

	.description_news_information_hover:hover{
		opacity: 0.3;
		-webkit-transition-property: opacity;
		-webkit-transition-duration: 0.5s;
	}

	.label_information{
		font-size: 15px;
		font-family: Open_sans;	
	}

	.label_information_jd{
		display: inline-block;
	    margin-left: 20px;
	    font-size: 15px;
	    color: #202020;
	    font-family: 'open_sans';
	}
	.label_information_link{
		margin-left: 20px;
	}

	.label_contact{
		font-size: 45px;
	    font-family: Open_sans;
	    line-height: 48px;
	    color: #dddddd;
	    font-weight: 700;
	}

	.button_user{
		display: inline-block;
		margin-top: 62px;
		margin-left: 42px;
		color: #fff;
		width: 115px;
		height: 33px;
		padding: 6px;
		border: solid;
		border-width: 1px;
		cursor: pointer;
		font-family: Open_sans;
		
	}

	.button_user:active{
		background-color: rgba(119, 119, 119, 0.61);
	}

	.popup_header{
		font-family: Open_sans;
	}
	
	.social_header{
		margin-top:63px;
		cursor:pointer;
	}
	.login{
		margin-top: 63px;
		cursor: pointer;
		text-align: center;
		font-family: open_sans;
		display: block;
		padding: 6px;
		color: #fff;
		border-radius: 3px;
		cursor: pointer;
		box-sizing: content-box;
		text-decoration: underline;
	}
	
	/*Beneficios*/
	
	.img_bulb{
		display: inline-block;
		width: 64px;
		height: 64px;
		float: left;
	}
	
	.text_info{
		font-family: open_sans;
		text-align: center;
		font-size: 14px;
		
	}
	
	.text_info_box{
	    background: #16a085;
		color: #fff;
		padding-top: 7px;
	}
	
	.background_col_beneficios{
	    background: #ecf0f1;
		cursor:pointer;
	}
	
	.align_image_beneficios{
	margin-left: 13px;
    margin-top: 15px;
	}
	
	.video_image{
		position: absolute;
		left: 0;
		right: 0;
	}
	
	#round{
		width: 200px;
		height: 200px;
		border: solid;
		border-radius: 50%;
		background: #2980b9;
		border-color: #3498db;
		border-width: 2px;
		cursor:pointer;
			
	}
	
	#round > h4{
    font-size: 20px;
    font-family: open_sans;
    color: #fff;
    margin-top: 133px;
    margin-left: 29px;
	}
	
	
